<html>
    <head>

    </head>
    <body>
        <h1>Welcome to the paradise for Consumers!</h1><br><br><br>
        {{infoOfProduct}} <br>
        {{name}}<br>
        Scraping reviews from Amazon.com for {{name}}..<br>
        Performing Sentiment Analysis on the reviews scraped.........<br>
        {{noOfReviews}}<br>
        {{avgRating}} <br><br>
        <h2>The percent of people confidence in the product is {{ polarity }} %</h2><br>
        If you wanna check out the product :<br> 
        <a href = "{{  affiliate  }}">{{  affiliate  }}</a>
    </body>
</html>