
body {
    background-color: #000000e0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30;
    margin: 0px;
}


.heading{
    font-size: 40;
    padding: 20;
    color: #00a0d0;
    background-color: black;
    text-align: center;
}

.search {
    color: #00a0d0;
    text-align: center;
    padding-top: 10%;
}

.input {
    width: 400px;
    color: #000000e0;
    vertical-align: middle;
    left: 50%;
    border-width: 0;
    font-size: 30px;
    padding: 5px;
    border-radius: 8px;
    margin-left: 5%;
}

.button {
    background-color: rgb(58, 58, 58);
    vertical-align: middle;
    color: #00a0d0;
    border-width: 0;
    font-size: 30px;
    padding: 5px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
}

